@tailwind base;
@tailwind components;
@tailwind utilities;

.errorDiv{
color: rgb(212, 0, 0);
background-color: rgb(255, 198, 198);
padding: 10px;
border-radius: 5px;

}

.heading{
    margin-top: 15px;
    margin-bottom: 15px;
}